<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeclan.example.lifetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="LifeTracker"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".TaskList"
            android:label="@string/list_header"
            android:parentActivityName=".LifeTracker">

        </activity>

        <activity
            android:name=".NewTask"
            android:label="@string/new_task_header"
            android:parentActivityName=".TaskList">

        </activity>

        <activity
            android:name=".TaskView"
            android:label="@string/task_header"
            android:parentActivityName=".TaskList">

        </activity>

        <activity
            android:name=".TaskEdit"
            android:label="@string/task_header"
            android:parentActivityName=".TaskView">

        </activity>

    </application>

</manifest>
